.flexImg{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: 5rem;
    
    img{
        width: 5rem;
        height: 20rem;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease; 
        cursor:pointer;
    }

    img:hover{
        scale: 1.1;
        opacity: 1;
        filter: contrast(120%);
    }
}

@media screen and (max-width: 479px){
    .flexImg{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-items: center;

        img{
            width: 10rem;
        height: 20rem;
        }
    }
}

.titleGallery{
    font-family: 'Gruppo', cursive;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
   
}



.subtitleGallery{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
}

@media screen and (max-width: 479px){
    .subtitleGallery{
        margin-top: 3rem;
    }
}

.subtitle3Gallery{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
     
}

