.flags{
    display: flex;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    top:8rem;
    position: absolute;
    left: 80%;
    right: 0;

    img{
        width: 2rem;
        height: 1.5rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
        z-index: 1;
        transition: .5s;
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    .flagSelected{
        width: 2.5rem;
        height: 2rem;
        filter: gray;
        -webkit-filter: none
    }
    
    
}


@media screen and (max-width: 992px){
    .flags{
        top:8rem;
    }
}

@media screen and (max-width: 479px){
    .flags{
        top:11rem;
        left: 0;
        right: 5%;

     
    }
}

