.flexMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    
    background-color: goldenrod;
    img{
        width: 7rem;
       
    }
}

@media screen and (max-width: 992px){
    .flexMarcas{
        img{
            width: 4rem;
           
        }
    }
}

@media screen and (max-width: 479px){
    .flexMarcas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        img{
            width: 4rem;
        }
    }
}