.flexMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 1rem;
    img{
        width: 7rem;
        filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
    }
}