#root {
  max-width: 1280px;
  
}

body{
  background-color: black;
}


a{
  text-decoration: none;
}
.animation{
  animation-name: mianimacion;
  animation-duration: 2s;
}
@keyframes mianimacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}